@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500;1,600;1,700;1,800&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

:root {
  --primary-color: #602b41;
  --secondary-color: #6bec04;
  --background-color: #6bec04;
}

body {
  background-color: var(--background-color);
}

.App {
  min-height: 100vh;
  margin: 0px 10px;
  display: grid;
  grid-template-rows: 300px 300px 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-template-areas: "header" "form" "listItem";
}

#header {
  grid-area: header;
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
  text-decoration: underline;
  align-self: center;
}

#form,
#listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form {
  grid-area: form;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--primary-color);
}

.inputText,
.editText {
  font-size: 1rem;
  background-color: transparent;
  border: none;
}

.inputText {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.editText {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

.inputText:focus,
.editText:focus {
  outline: none;
}

.inputText:focus {
  border-bottom: 2px solid var(--primary-color);
}

.btn,
.danger {
  font-size: 1rem;
  font-weight: bolder;
  padding: 0.5rem 1.5rem;
}
.btn {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  transition: 0.5s all;
}
.danger {
  color: var(--primary-color);
  border: 2px solid black;
  background-color: red;
}

#listItem {
  grid-area: listItem;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 20px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "input buttons" "details buttons";
  width: calc(100vw - 10rem);
  height: 200px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-radius: 1px;
  padding: 1rem 2rem;
  transition: 0.5s all;
}

.btn:hover,
.card:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: 3px solid var(--primary-color);
}

.card:hover .editText {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.card li {
  grid-area: input;
  font-size: 1.2rem;
  font-weight: 600;
  align-self: center;
  justify-self: start;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  accent-color: green;
}

.buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  place-self: end;
  gap: 20px;
}

.details {
  grid-area: details;
  align-self: end;
}
.edit {
  display: flex;
  gap: 10px;
}
.submitBtn {
  font-size: 1rem;
  font-weight: bolder;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  padding: 0.2rem 0.5rem;
  margin: 10px 0px 0px 0px;
  transition: 0.5s all;
}

.submitBtn:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.editBtn {
  font-size: 1rem;
  font-weight: bolder;
  color: greenyellow;
  background-color: green;
  padding: 0.5rem 2.5rem;
  transition: 0.5s all;
}

.editBtn:hover {
  color: green;
  background-color: greenyellow;
}

@media (max-width: 650px) {
  .card {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "input" "buttons" "details";
  }

  .buttons {
    flex-direction: row;
  }

  .btn,
  .danger,
  .submitBtn,
  .editBtn {
    font-size: 0.8rem;
  }
}

@media (max-width: 490px) {
  .card {
    font-size: 0.8rem;
  }
  .card li {
    font-size: 0.8rem;
  }
  .buttons {
    flex-direction: column;
    justify-self: end;
  }

  .edit {
    flex-direction: column;
    align-items: start;
  }

  .submitBtn {
    font-size: 0.8rem;
  }
}

@media (max-width: 430px) {
  .card {
    font-size: 0.7rem;
    padding: 0.5rem 2rem;
    width: calc(100vw - 5rem);
  }
  .danger,
  .editBtn {
    font-size: 0.5rem;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 321px) {
  .card {
    font-size: 0.5rem;
  }
  .card li {
    font-size: 0.5rem;
  }

  input[type="checkbox"] {
    width: 10px;
    height: 10px;
  }

  .card .editText{
    width: 150px;
  }

  .submitBtn {
    font-size: 0.6rem;
  }
}


@media (max-width:275px){
  *{
    font-size: 0.6rem;
  }
  .card .editText {
    width: 100px;
  }

  .btn{
    font-size: 0.6rem;
  }
}
